.btn {
  text-decoration: none;

  &:active,
  &:visited {
    color: white;
  }


  &--home {
    border: none;
    padding: 12px 40px;
    background-color: white;
    color: black;
    font-family: 'BenchNine', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    margin-left: 3rem;

    &:active,
    &:visited {
      color: black;
    }
  

    &:before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: -5px;
      left: -5px;
      border-top: 2px solid red;
      border-left: 2px solid red;
      transition: all 0.25s;
    }
    
    &:hover:before,
    &:hover:after {
      height: 100%;
      width: 100%;
    }
    
    &:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: -5px;
      right: -5px;
      border-bottom: 2px solid red;
      border-right: 2px solid red;
      transition: all 0.25s;
    }
  }
}