.about {
  background: darken(darkgreen, 5);
  height: 100svh;
  width: 100vw;
  overflow: scroll;

  &__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 5rem;

    // & div {
    //   margin-right: -8rem;
    // }
  }
}