.about {
  background: darken(darkgreen, 5);
  height: 100svh;
  width: 100vw;
  overflow: scroll;

  // HIDE SCROLLS
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 5rem;

    // & div {
    //   margin-right: -8rem;
    // }
  }
}