.about {

  &__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background: darken(darkgreen, 5);
    padding: 5rem;

    // & div {
    //   margin-right: -8rem;
    // }
  }
}