@import url("https://fonts.googleapis.com/css2?family=BenchNine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  html::-webkit-scrollbar {
    display: none; }

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: green; }

.heading-primary {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  margin-left: 2rem; }
  .heading-primary--main {
    font-size: 10rem;
    font-family: "Anton", sans-serif, sans-serif;
    font-weight: 40;
    color: white;
    display: inline-block;
    cursor: default; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 6rem; } }
  .heading-primary--sub {
    font-family: "BenchNine", sans-serif, sans-serif;
    font-size: 5rem;
    color: #bfbfbf;
    display: block;
    margin-top: -2rem;
    margin-left: .5rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 4rem;
        margin-left: 0; } }

.heading-secondary a {
  text-decoration: none; }

.heading-secondary--main {
  display: block;
  font-size: 10rem;
  line-height: 10rem;
  font-family: "Anton", sans-serif, sans-serif;
  font-weight: 40;
  color: white; }

.heading-secondary--sub {
  display: block;
  font-family: "BenchNine", sans-serif, sans-serif;
  font-weight: 44;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 1rem;
  text-align: center;
  color: #bfbfbf; }

.btn {
  text-decoration: none; }
  .btn:active, .btn:visited {
    color: white; }
  .btn--home {
    border: none;
    padding: 12px 40px;
    background-color: white;
    color: black;
    font-family: 'BenchNine', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    margin-left: 3rem; }
    .btn--home:active, .btn--home:visited {
      color: black; }
    .btn--home:before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: -5px;
      left: -5px;
      border-top: 2px solid red;
      border-left: 2px solid red;
      transition: all 0.25s; }
    .btn--home:hover:before, .btn--home:hover:after {
      height: 100%;
      width: 100%; }
    .btn--home:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: -5px;
      right: -5px;
      border-bottom: 2px solid red;
      border-right: 2px solid red;
      transition: all 0.25s; }

.header {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  background: black;
  border-bottom: 2px solid white;
  box-shadow: 0 1rem 2rem black; }

.home {
  height: 100vh;
  position: relative; }
  @media only screen and (max-width: 68.75em) {
    .home {
      height: 100svh; } }
  .home__bg {
    background-image: url("https://i.imgur.com/A9Q8fdi.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1; }
    @media only screen and (max-width: 68.75em) {
      .home__bg {
        top: 10%;
        height: 90vh; } }
    @media only screen and (max-width: 56.25em) {
      .home__bg {
        top: 25%;
        height: 75vh; } }
    @media only screen and (max-width: 31.25em) {
      .home__bg {
        top: 25%;
        height: 75svh; } }

.play {
  background: #004b00;
  height: 100svh;
  width: 100vw;
  overflow: scroll; }
  .play__main {
    display: flex;
    padding: 5rem;
    flex-wrap: wrap;
    gap: 1rem; }
  .play__card {
    display: block;
    width: 20rem;
    flex-grow: 1;
    height: 20rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: "BenchNine", sans-serif;
    letter-spacing: .25rem;
    box-shadow: 0 1rem 2rem black;
    transition: all .5s;
    transform-origin: center; }
    .play__card:hover {
      transform: scale(0.9);
      box-shadow: 0 .5rem 1rem black; }
    .play__card span {
      font-size: 3rem;
      height: 3rem;
      line-height: 3rem;
      display: block;
      width: 100%;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      background: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(128, 128, 128, 0.8)); }
    .play__card--hearts {
      background-image: url("https://i.imgur.com/lAbIZVD.png");
      background-size: cover;
      background-position: right; }
    .play__card--spades {
      background-image: url("https://i.imgur.com/FY2GBbu.png");
      background-size: cover;
      background-position: right; }

.hearts {
  font-size: 2rem;
  color: #f1fdac; }
  .hearts__table {
    display: flex;
    position: relative;
    border: 2px solid pink;
    height: 50rem;
    width: 50rem;
    margin: 2rem; }
  .hearts span {
    display: block; }
  .hearts__hand {
    display: flex;
    flex-direction: row;
    background-color: #585858;
    width: 40rem;
    height: 5rem;
    position: absolute; }
    .hearts__hand--1 {
      top: 90%;
      left: 10%; }
    .hearts__hand--2 {
      top: 45%;
      left: -35%;
      transform: rotate(90deg); }
    .hearts__hand--3 {
      top: 0%;
      left: 10%;
      transform: rotate(180deg); }
    .hearts__hand--4 {
      top: 45%;
      right: -35%;
      transform: rotate(270deg); }
  .hearts__card {
    border: 1px solid #550c0c;
    height: 4rem;
    width: 4rem; }
