.all-games {
  // Home Grid
  grid-column: center-start / center-end;
  grid-row: 3 / 4;

  &__title {
    display: block;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: $font-oswald, sans-serif;
    color: white;

    cursor: default;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
    transform: translateY(2rem);
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    & a {
      text-decoration: none;
      margin: 2rem;
    }
  }

  &__card {
    height: 20rem; 
    display: flex;
    align-items: flex-end;

    border-radius: 2.5rem;
    box-shadow: 0 .5rem 1rem darkgrey;
    transition: all .5s;
    // margin on anchor tag
    
    & span {
      font-size: 3rem;
      font-family: $font-oswald;
      color: darken(white, 10);
      margin-left: 2rem;
      margin-bottom: 2rem;
    }

    &:hover {
      transform: scale(.98);
      box-shadow: 0 .25rem .5rem darkgrey;
    }

    &--hearts {
      background-image: url("https://i.imgur.com/1HL3aq3.png");
      background-size: cover;
      background-position: center;
    }

    &--spades {
      background-image: url("https://i.imgur.com/98iGlQ0.png");
      background-size: cover;
      background-position: center;
    }

    &--oh-hell {
      background-image: url("https://i.imgur.com/YkVpHyj.png");
      background-size: cover;
      background-position: center;
    }

    &--blackjack {
      background-image: url("https://i.imgur.com/JekWLyu.png");
      background-size: cover;
      background-position: right;
    }

    &--euchre {
      background-image: url("https://i.imgur.com/b8zfLAM.png");
      background-size: cover;
      background-position: center;
    }
    
    &--german-whist {
      background-image: url("https://i.imgur.com/j895HSp.png");
      background-size: cover;
      background-position: center;
    }

    &--sudoku {
      background-image: url("https://i.imgur.com/6OwhyEO.png");
      background-size: cover;
      background-position: center;
    }

    &--connect-four {
      background-image: url("https://i.imgur.com/qdQufMg.png");
      background-size: cover;
      background-position: center;
    }

    &--pixelate {
      background-image: url("https://i.imgur.com/ze3uvRA.png");
      background-size: cover;
      background-position: center;
    }

    &--puppy-clicker {
      background-image: url("https://i.imgur.com/XBauiCd.png");
      background-size: cover;
      background-position: center;
    }
    
    &--pokemon-picker {
      background-image: url("https://i.imgur.com/D57sPLH.png");
      background-size: cover;
      background-position: center;
    }
  }
}