.header {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  background: black;
  border-bottom: 2px solid white;
  box-shadow: 0 1rem 2rem black;

  // Remove Highlighy on Focus
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  &__textbox {
    cursor: default;
  }

  &__nav {
    font-family: $font-oswald;
    color: white;
    text-transform: lowercase;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 1.5rem;
    transition: all .5s;

    & a {
      text-decoration: none;
      color: white;
    }

    &-item{
      transition: all .3s;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &:hover {
        color: darken(lightgrey, 10);
      }
    }
  }

}