.top-nav-container {
  display: flex;
  justify-content: center;

  grid-row: top-start / top-end;
}

.top-nav {
  height: 8vh;
  width: 112rem;
  box-sizing: border-box;
  background-image: linear-gradient(#1d0b99, #1a082f);
  border-radius: 2rem;
  margin-bottom: 3rem;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }

  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // LOGO
  &__logo {
    height: 4rem;
    margin-left: 3rem;
    transition: all .2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  // SEARCHBAR
  &__search-form {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search-input {
    font-family: $font-rale;
    font-size: inherit;
    color: white;
    background-color: #4f11ff;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: lighten(#4f11ff, 5);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: white;
    }
  }

  &__search-button {
    border: none;
    background-color: inherit;
    cursor: pointer;

    &--icon {
      height: 2rem;
      width: 2rem;
      fill: white;
    }
  }

  // RIGHT SIDE
  &__user-nav {
    display: flex;
    cursor: pointer;
  }

  // USERNAME
  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;

    &:hover &--name {
      color: lightblue;
    }

    &:hover &--photo {
      transform: scale(1.05);
    }

    &--photo {
      height: 3.75rem;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .3s;
    }
  
    &--name {
      font-size: 1.8rem;
      font-family: $font-rale;
      color: white;
      margin-right: 1rem;
      transition: all .3s;
    }
  }

  // SETTINGS
  &__user-icon-box {
    margin-right: 3rem;
  } 

  &__user-settings {
    color: white;
    height: 3.75rem;
    width: 3.75rem;

    &:hover {
      animation: spin 1s linear infinite;
      transform: scale(.9);
    }
  }
}